.hide {
  display: none;
}
.overlay {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.8);
}
#popup-wrapper {
  min-height: 25rem;
  margin-bottom: -1000px;
}
.slide_up {
  margin-bottom: 0px!important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 3.5s;
}
.lt_cell {
  background-image: url('images/fish.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 9rem;
  min-width: 9rem;
}
@media (min-width: 320px) and (max-width: 568px) {
  .lt_cell {
    display: none;
  }
}
